/*
 * Copyright 2011-2015 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	
	chosen {
		stdout-path = &uart3;
	};

	memory {
		reg = <0x10000000 0x40000000>;
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_2p5v: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "2P5V";
			regulator-min-microvolt = <2500000>;
			regulator-max-microvolt = <2500000>;
			regulator-always-on;
		};

		reg_3p3v: regulator@1 {
			compatible = "regulator-fixed";
			reg = <1>;
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		//reg_usb_otg_vbus: regulator@2 {
			//compatible = "regulator-fixed";
			//reg = <2>;
			//regulator-name = "usb_otg_vbus";
			//regulator-min-microvolt = <5000000>;
			//regulator-max-microvolt = <5000000>;
			//gpio = <&gpio3 22 0>;
			//enable-active-high;
		//};
	};

	//gpio-keys {
		//compatible = "gpio-keys";
		//pinctrl-names = "default";
		//pinctrl-0 = <&pinctrl_gpio_keys>;

		//power {
			//label = "Power Button";
			//gpios = <&gpio2 3 GPIO_ACTIVE_LOW>;
			//linux,code = <KEY_POWER>;
			//gpio-key,wakeup;
		//};

		//menu {
			//label = "Menu";
			//gpios = <&gpio2 1 GPIO_ACTIVE_LOW>;
			//linux,code = <KEY_MENU>;
		//};

		//home {
			//label = "Home";
			//gpios = <&gpio2 4 GPIO_ACTIVE_LOW>;
			//linux,code = <KEY_HOME>;
		//};

		//back {
			//label = "Back";
			//gpios = <&gpio2 2 GPIO_ACTIVE_LOW>;
			//linux,code = <KEY_BACK>;
		//};

		//volume-up {
			//label = "Volume Up";
			//gpios = <&gpio7 13 GPIO_ACTIVE_LOW>;
			//linux,code = <KEY_VOLUMEUP>;
		//};

		//volume-down {
			//label = "Volume Down";
			//gpios = <&gpio4 5 GPIO_ACTIVE_LOW>;
			//linux,code = <KEY_VOLUMEDOWN>;
		//};
	//};

	//sound {
		//compatible = "fsl,imx6q-sabrelite-sgtl5000",
			     //"fsl,imx-audio-sgtl5000";
		//model = "imx6q-sabrelite-sgtl5000";
		//ssi-controller = <&ssi1>;
		//audio-codec = <&codec>;
		//audio-routing =
			//"MIC_IN", "Mic Jack",
			//"Mic Jack", "Mic Bias",
			//"Headphone Jack", "HP_OUT";
		//mux-int-port = <1>;
		//mux-ext-port = <4>;
	//};

	backlight_lcd {
		compatible = "pwm-backlight";
		pwms = <&pwm1 0 500>;
		brightness-levels = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 22 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255>;
		default-brightness-level = <128>;
		power-supply = <&reg_3p3v>;
		status = "okay";
	};

	//backlight_lvds {
		//compatible = "pwm-backlight";
		//pwms = <&pwm4 0 5000000>;
		//brightness-levels = <0 4 8 16 32 64 128 255>;
		//default-brightness-level = <7>;
		//power-supply = <&reg_3p3v>;
		//status = "okay";
	//};
};

//&audmux {
	//pinctrl-names = "default";
	//pinctrl-0 = <&pinctrl_audmux>;
	//status = "okay";
//};

&ecspi1 {
  fsl,spi-num-chipselects = <1>;
  cs-gpios = <&gpio4 9 0>;	//active high
  pinctrl-names = "default";
  pinctrl-0 = <&pinctrl_ecspi1_1>;
  status = "okay";
  spidev10@0 {
        compatible = "spidev";
        spi-max-frequency = <57600000>;
         reg = <0>;
        #address-cells = <1>;
		#size-cells = <1>;
        };
};

&ecspi3 {
  fsl,spi-num-chipselects = <4>;
  //cs-gpios = <&gpio4 24 0>;
  pinctrl-names = "default";
  pinctrl-0 = <&pinctrl_ecspi3_1>;
  status = "okay";
  spidev30@0 {
        compatible = "spidev";
        spi-max-frequency = <57600000>;
        reg = <0>;
        #address-cells = <1>;
		#size-cells = <1>;
        };
};

&ecspi4 {
  fsl,spi-num-chipselects = <1>;
  //cs-gpios = <&gpio3 20 0>;	//active high
  pinctrl-names = "default";
  pinctrl-0 = <&pinctrl_ecspi4_1>;
  status = "okay";
  spidev40@0 {
        compatible = "spidev";
        spi-max-frequency = <57600000>;
         reg = <0>;
        #address-cells = <1>;
		#size-cells = <1>;
        };
};

&ecspi5 {
  fsl,spi-num-chipselects = <4>;
  //cs-gpios = <&gpio1 17 0>;
  pinctrl-names = "default";
  pinctrl-0 = <&pinctrl_ecspi5_1>;
  status = "okay";
  spidev50@0 {
        compatible = "spidev";
        spi-max-frequency = <57600000>;
         reg = <0>;
        #address-cells = <1>;
		#size-cells = <1>;
        };
};

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet>;
	phy-mode = "rgmii";
	//phy-reset-gpios = <&gpio1 25 0>;
	status = "okay";
};

//&i2c1 {
	//clock-frequency = <100000>;
	//pinctrl-names = "default";
	//pinctrl-0 = <&pinctrl_i2c1>;
	//status = "okay";

	//codec: sgtl5000@0a {
		//compatible = "fsl,sgtl5000";
		//reg = <0x0a>;
		//clocks = <&clks 201>;
		//VDDA-supply = <&reg_2p5v>;
		//VDDIO-supply = <&reg_3p3v>;
	//};
//};

//&i2c2 {
	//clock-frequency = <100000>;
	//pinctrl-names = "default";
	//pinctrl-0 = <&pinctrl_i2c2>;
	//status = "okay";
//};

&i2c3 {
        clock-frequency = <100000>;
        pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c3_1>;
        status = "okay";
        
        //clocks = <&clks IMX6QDL_CLK_I2C3>;
        
        //adc: ad7091r@23 {
		//	compatible = "adi,ad7091r5";
		//	reg = <0x23>;
			//#address-cells = <1>;
			//#size-cells = <0>;
		//};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	imx6q-sabrelite {
		pinctrl_hog: hoggrp {
			fsl,pins = <
				/* SGTL5000 sys_mclk */
				//MX6QDL_PAD_GPIO_0__CCM_CLKO1    0x030b0
				
				//=====GPIO OUTPUT DD1===================================================
				MX6QDL_PAD_EIM_LBA__GPIO2_IO27 0x4001F0B0 //EIM_LBA__GPIO2_IO27  K22  SPARE_1_OUT_CPU - 59
				MX6QDL_PAD_EIM_OE__GPIO2_IO25 0x4001F0B0 //EIM_OE__GPIO2_IO25   J24  SPARE_3_OUT_CPU - 57
				MX6QDL_PAD_EIM_RW__GPIO2_IO26 0x4001F0B0 //EIM_RW__GPIO2_IO26   K20  SPARE_2_OUT_CPU - 58
			
				MX6QDL_PAD_EIM_CS0__GPIO2_IO23 0x4001F0B0 //EIM_CS0__GPIO2_IO23  H24  RESET_ADC_CPU - 55
				MX6QDL_PAD_EIM_CS1__GPIO2_IO24 0x4001F0B0 //EIM_CS1__GPIO2_IO24  J23  SKR_PWR_CTR_CPU - 56
			
				MX6QDL_PAD_EIM_A16__GPIO2_IO22 0x4001F0B0 //EIM_A16__GPIO2_IO22  H25  EASAU_CPU - 54
				MX6QDL_PAD_EIM_A17__GPIO2_IO21 0x4001F0B0 //EIM_A17__GPIO2_IO21  G24  EEO_CPU - 53
				MX6QDL_PAD_EIM_A18__GPIO2_IO20 0x4001F0B0 //EIM_A18__GPIO2_IO20  J22  ESS_CPU - 52
				MX6QDL_PAD_EIM_A19__GPIO2_IO19 0x4001F0B0 //EIM_A19__GPIO2_IO19  G25  EPA_CPU - 51
				MX6QDL_PAD_EIM_A20__GPIO2_IO18 0x4001F0B0 //EIM_A20__GPIO2_IO18  H22  EDB_CPU - 50
				MX6QDL_PAD_EIM_A21__GPIO2_IO17 0x4001F0B0 //EIM_A21__GPIO2_IO17  H23  EFB_CPU - 49
				MX6QDL_PAD_EIM_A22__GPIO2_IO16 0x4001F0B0 //EIM_A22__GPIO2_IO16  F24  EAB_CPU - 48
				MX6QDL_PAD_EIM_A23__GPIO6_IO06 0x4001F0B0 //EIM_A23__GPIO6_IO06  J21  GPIO6_06_UNUSED - 166
				MX6QDL_PAD_EIM_A24__GPIO5_IO04 0x4001F0B0 //EIM_A24__GPIO5_IO04  F25  INH_SORVOLO_CPU - 132
			
				MX6QDL_PAD_EIM_A25__GPIO5_IO02 0x4001F0B0 //EIM_A25__GPIO5_IO02  H19  EBT_CPU - 130
			
				MX6QDL_PAD_EIM_D23__GPIO3_IO23 0x4001F0B0 //EIM_D23__GPIO3_IO23  D25  UART3_CTS_B_CPU - 87
			
				MX6QDL_PAD_EIM_EB2__GPIO2_IO30 0x4001F0B0 //EIM_EB2__GPIO2_IO30  E22  CMD_SPIRA_CPU - 62
				MX6QDL_PAD_EIM_EB3__GPIO2_IO31 0x4001F0B0 //EIM_EB3__GPIO2_IO31  F23  INH_G_SWITCH_CPU - 63
			
				MX6QDL_PAD_EIM_BCLK__GPIO6_IO31 0x4001F0B0 //EIM_BCLK__GPIO6_IO31 N22  EBT_SK_CPU - 191
				MX6QDL_PAD_EIM_WAIT__GPIO5_IO00 0x4001F0B0 //EIM_WAIT__GPIO5_IO00 M25  BIT_L_CPU - 128
			
				MX6QDL_PAD_EIM_EB0__GPIO2_IO28 0x4001F0B0 //EIM_EB0__GPIO2_IO28  K21  GPIO2_IO28_UNUSED - 60
			
				MX6QDL_PAD_GPIO_2__GPIO1_IO02 0x4001F0B0 //GPIO_2__GPIO1_IO02     T1  IT_UC - 2
								
				MX6QDL_PAD_CSI0_PIXCLK__GPIO5_IO18 0x4001F0B0 //CSI0_PIXCLK__GPIO5_IO18  P1  ARM_EVENTO - 146
				MX6QDL_PAD_CSI0_DATA_EN__GPIO5_IO20 0x4001F0B0 //CSI0_DATA_EN__GPIO5_IO20 P3  ARM_TRACE_CLK - 148
				MX6QDL_PAD_CSI0_VSYNC__GPIO5_IO21 0x4001F0B0 //CSI0_VSYNC__GPIO5_IO21   N2  ARM_TRACE00 - 149
				MX6QDL_PAD_CSI0_DAT4__GPIO5_IO22 0x4001F0B0 //CSI0_DAT4__GPIO5_IO22    N1  ARM_TRACE01 - 150
				MX6QDL_PAD_CSI0_DAT5__GPIO5_IO23 0x4001F0B0 //CSI0_DAT5__GPIO5_IO23    P2  ARM_TRACE02 - 151
				MX6QDL_PAD_CSI0_DAT6__GPIO5_IO24 0x4001F0B0 //CSI0_DAT6__GPIO5_IO24    N4  ARM_TRACE03 - 152
				MX6QDL_PAD_CSI0_DAT7__GPIO5_IO25 0x4001F0B0 //CSI0_DAT7__GPIO5_IO25    N3  ARM_TRACE04 - 153
				MX6QDL_PAD_CSI0_DAT8__GPIO5_IO26 0x4001F0B0 //CSI0_DAT8__GPIO5_IO26    N6  ARM_TRACE05 - 154
				MX6QDL_PAD_CSI0_DAT9__GPIO5_IO27 0x4001F0B0 //CSI0_DAT9__GPIO5_IO27    N5  ARM_TRACE06 - 155
				MX6QDL_PAD_CSI0_DAT10__GPIO5_IO28 0x4001F0B0 //CSI0_DAT10__GPIO5_IO28    M1  ARM_TRACE07 - 156
			
				MX6QDL_PAD_DISP0_DAT8__GPIO4_IO29 0x4001F0B0 //DISP0_DAT8__GPIO4_IO29  R22  CMD_CONSENSOFUOCO_CPU - 125
				MX6QDL_PAD_DISP0_DAT9__GPIO4_IO30 0x4001F0B0 //DISP0_DAT9__GPIO4_IO30  T25  CMD_FMP_INT_CPU - 126
			
				MX6QDL_PAD_DISP0_DAT11__GPIO5_IO05 0x4001F0B0 //DISP0_DAT11__GPIO5_IO05  T23  SENS_D00_CPU - 133
				MX6QDL_PAD_DISP0_DAT12__GPIO5_IO06 0x4001F0B0 //DISP0_DAT12__GPIO5_IO06  T24  SENS_D01_CPU - 134
				MX6QDL_PAD_DISP0_DAT13__GPIO5_IO07 0x4001F0B0 //DISP0_DAT13__GPIO5_IO07  R20  OK_CPU - 135
				MX6QDL_PAD_DISP0_DAT14__GPIO5_IO08 0x4001F0B0 //DISP0_DAT14__GPIO5_IO08  U25  GO_SW_CPU - 136
			
				MX6QDL_PAD_DISP0_DAT16__GPIO5_IO10 0x4001F0B0 //DISP0_DAT16__GPIO5_IO10  T21  SEL_ANT_CPU - 138
				MX6QDL_PAD_DISP0_DAT17__GPIO5_IO11 0x4001F0B0 //DISP0_DAT17__GPIO5_IO11  U24  RESET_L_CPU - 139
			
				MX6QDL_PAD_KEY_ROW4__GPIO4_IO15 0x4001F0B0 //KEY_ROW4__GPIO4_IO15  V5  USB_OTGPWR_EN - 111
				MX6QDL_PAD_GPIO_19__GPIO4_IO05 0x4001F0B0 //GPIO_19__GPIO4_IO05  P5  IMX6_SPARE_LED - 101
			
				MX6QDL_PAD_NANDF_D0__GPIO2_IO00 0x4001F0B0 //NANDF_D0__GPIO2_IO00  A18  TFUEL_RANGE_SLC - 32
				MX6QDL_PAD_NANDF_D1__GPIO2_IO01 0x4001F0B0 //NANDF_D1__GPIO2_IO01  C17  MAINT_SK_CPU - 33
				MX6QDL_PAD_NANDF_D2__GPIO2_IO02 0x4001F0B0 //NANDF_D2__GPIO2_IO02  F16  ID_00_CPU - 34
				MX6QDL_PAD_NANDF_D3__GPIO2_IO03 0x4001F0B0 //NANDF_D3__GPIO2_IO03  D17  ID_01_CPU - 35
				MX6QDL_PAD_NANDF_D4__GPIO2_IO04 0x4001F0B0 //NANDF_D4__GPIO2_IO04  A19  SAFE_SPOLETTA_CPU - 36
				MX6QDL_PAD_NANDF_D5__GPIO2_IO05 0x4001F0B0 //NANDF_D5__GPIO2_IO05  B18  ENABLE_DL_CPU - 37
				MX6QDL_PAD_NANDF_D6__GPIO2_IO06 0x4001F0B0 //NANDF_D6__GPIO2_IO06  E17  ESA_CPU - 38
				MX6QDL_PAD_NANDF_D7__GPIO2_IO07 0x4001F0B0 //NANDF_D7__GPIO2_IO07  C18  ESF_CPU - 39
				
				//NON SETTARE COME OUTPUT SPI1_CS0 AUTOMATICO
				//MX6QDL_PAD_KEY_ROW1__GPIO4_IO09 0x4001F0B0 //KEY_ROW1__GPIO4_IO09   ECSPI1_UC_SS0  - 105
	
				MX6QDL_PAD_DISP0_DAT3__GPIO4_IO24 0x4001F0B0 //DISP0_DAT3__GPIO4_IO24  P21  ECSPI3_SS0 - 120
				MX6QDL_PAD_DISP0_DAT4__GPIO4_IO25 0x4001F0B0 //DISP0_DAT4__GPIO4_IO25  P20  ECSPI3_SS1 - 121
				MX6QDL_PAD_DISP0_DAT5__GPIO4_IO26 0x4001F0B0 //DISP0_DAT5__GPIO4_IO26  R25  ECSPI3_SS2 - 122
				MX6QDL_PAD_DISP0_DAT6__GPIO4_IO27 0x4001F0B0 //DISP0_DAT6__GPIO4_IO27  R23  ECSPI3_SS3 - 123
			
				MX6QDL_PAD_EIM_D20__GPIO3_IO20 0x4001F0B0 //EIM_D20__GPIO3_IO20  G20  ECSPI4_SS0 - 84
			
				MX6QDL_PAD_SD1_DAT1__GPIO1_IO17 0x4001F0B0 //SD1_DAT1__GPIO1_IO17  C20  ECSPI5_SS0 - 17
				MX6QDL_PAD_SD1_DAT2__GPIO1_IO19 0x4001F0B0 //SD1_DAT2__GPIO1_IO19  E19  ECSPI5_SS1 - 19
				MX6QDL_PAD_SD1_DAT3__GPIO1_IO21 0x4001F0B0 //SD1_DAT3__GPIO1_IO21  F18  ECSPI5_SS2 - 21
				MX6QDL_PAD_SD2_DAT3__GPIO1_IO12 0x4001F0B0 //SD2_DAT3__GPIO1_IO12  B22  ECSPI5_SS3 - 12
	
				//=====GPIO INPUT DD1===================================================
				MX6QDL_PAD_EIM_D26__GPIO3_IO26 0x80000000    //EIM_D26__GPIO3_IO26   E24 SPARE_1_IN_CPU - 90
				MX6QDL_PAD_EIM_D19__GPIO3_IO19 0x80000000    //EIM_D19__GPIO3_IO19   G21 SPARE_2_IN_CPU - 83
				MX6QDL_PAD_EIM_D27__GPIO3_IO27 0x80000000    //EIM_D27__GPIO3_IO27   E25 SPARE_3_IN_CPU - 91
				MX6QDL_PAD_EIM_D31__GPIO3_IO31 0x80000000    //EIM_D31__GPIO3_IO31   H21 UART3_RTS_B_CPU - 95
			
				MX6QDL_PAD_EIM_D29__GPIO3_IO29 0x80000000    //EIM_D29__GPIO3_IO29   J19 CK_PLUG_0_CPU - 93
				MX6QDL_PAD_EIM_D30__GPIO3_IO30 0x80000000    //EIM_D30__GPIO3_IO30   J20 CK_PLUG_1_CPU - 94
			
				MX6QDL_PAD_CSI0_MCLK__GPIO5_IO19 0x80000000  //CSI0_MCLK__GPIO5_IO19     P4  ARM_TRACE_CTL - 147
				MX6QDL_PAD_CSI0_DAT11__GPIO5_IO29 0x80000000 //CSI0_DAT11__GPIO5_IO29    M3  ARM_TRACE_08 - 157
				MX6QDL_PAD_CSI0_DAT12__GPIO5_IO30 0x80000000 //CSI0_DAT12__GPIO5_IO30    M2  ARM_TRACE_09 - 158
				MX6QDL_PAD_CSI0_DAT13__GPIO5_IO31 0x80000000 //CSI0_DAT13__GPIO5_IO31    L1  ARM_TRACE_10 - 159
				MX6QDL_PAD_CSI0_DAT14__GPIO6_IO00 0x80000000 //CSI0_DAT14__GPIO6_IO00    M4  ARM_TRACE_11 - 160
				MX6QDL_PAD_CSI0_DAT15__GPIO6_IO01 0x80000000 //CSI0_DAT15__GPIO6_IO01    M5  ARM_TRACE_12 - 161
				MX6QDL_PAD_CSI0_DAT16__GPIO6_IO02 0x80000000 //CSI0_DAT16__GPIO6_IO02    L4  ARM_TRACE_13 - 162
				MX6QDL_PAD_CSI0_DAT17__GPIO6_IO03 0x80000000 //CSI0_DAT17__GPIO6_IO03    L3  ARM_TRACE_14 - 163
				MX6QDL_PAD_CSI0_DAT18__GPIO6_IO04 0x80000000 //CSI0_DAT18__GPIO6_IO04    M6  ARM_TRACE_15 - 164
				MX6QDL_PAD_GPIO_5__GPIO1_IO05 0x80000000     //GPIO_5__GPIO1_IO05        R4  ARM_EVENTI  - 5
			
				MX6QDL_PAD_GPIO_4__GPIO1_IO04 0x80000000 //GPIO_4__GPIO1_IO04     R6  IT_SL_1 - 4
				MX6QDL_PAD_GPIO_7__GPIO1_IO07 0x80000000 //GPIO_7__GPIO1_IO07     R3  IT_SL_2 - 7
				MX6QDL_PAD_GPIO_8__GPIO1_IO08 0x80000000 //GPIO_8__GPIO1_IO08     R5  IT_SL_3 - 8
				MX6QDL_PAD_GPIO_9__GPIO1_IO09 0x80000000 //GPIO_9__GPIO1_IO09     T2  IT_SL_4 - 9
				MX6QDL_PAD_SD2_CMD__GPIO1_IO11 0x80000000 //SD2_CMD__GPIO1_IO11    F19  IT_SL_5 - 11
				MX6QDL_PAD_SD2_CLK__GPIO1_IO10 0x80000000 //SD2_CLK__GPIO1_IO10    C21  IT_SL_6 - 10
				MX6QDL_PAD_SD2_DAT0__GPIO1_IO15 0x80000000 //SD2_DAT0__GPIO1_IO15   A22  IT_SL_7 - 15
				MX6QDL_PAD_SD2_DAT1__GPIO1_IO14 0x80000000 //SD2_DAT1__GPIO1_IO14   E20  IT_SL_8 - 14
				MX6QDL_PAD_SD2_DAT2__GPIO1_IO13 0x80000000 //SD2_DAT2__GPIO1_IO13   A23  IT_SL_10 - 13
				
				MX6QDL_PAD_CSI0_DAT19__GPIO6_IO05 0x80000000   //CSI0_DAT19__GPIO6_IO05    L6    SPARE2_ARTIX7 - 165
			
				MX6QDL_PAD_DI0_DISP_CLK__GPIO4_IO16 0x80000000 //DI0_DISP_CLK__GPIO4_IO16  N19   CK_PRES_BT2_CPU - 112
				MX6QDL_PAD_DI0_PIN15__GPIO4_IO17 0x80000000    //DI0_PIN15__GPIO4_IO17     N21   OK_GPS_CPU - 113
				MX6QDL_PAD_DI0_PIN2__GPIO4_IO18 0x80000000     //DI0_PIN2__GPIO4_IO18      N25   OK_SPOLETTA_CPU - 114
				MX6QDL_PAD_DI0_PIN3__GPIO4_IO19 0x80000000     //DI0_PIN3__GPIO4_IO19      N20   OK_DL_CPU - 115
				MX6QDL_PAD_DI0_PIN4__GPIO4_IO20 0x80000000     //DI0_PIN4__GPIO4_IO20      P25   OK_PS_TH_CPU - 116
			
				MX6QDL_PAD_DISP0_DAT7__GPIO4_IO28 0x80000000   //DISP0_DAT7__GPIO4_IO28    R24   STATUS_ANT_CPU - 124
				MX6QDL_PAD_DISP0_DAT10__GPIO4_IO31 0x80000000  //DISP0_DAT10__GPIO4_IO31   R21   OK_PS_SWRF_CPU - 127
			
				MX6QDL_PAD_DISP0_DAT18__GPIO5_IO12 0x80000000  //DISP0_DAT18__GPIO5_IO12   V25   LOOPBACK_SIGNAL_CPU - 140
				MX6QDL_PAD_DISP0_DAT19__GPIO5_IO13 0x80000000  //DISP0_DAT19__GPIO5_IO13   U23   OK_BT_SK_PSB_CPU - 141
				MX6QDL_PAD_DISP0_DAT20__GPIO5_IO14 0x80000000  //DISP0_DAT20__GPIO5_IO14   U22   OK_PS_WCU_CPU - 142
				MX6QDL_PAD_DISP0_DAT21__GPIO5_IO15 0x80000000  //DISP0_DAT21__GPIO5_IO15   T20   GO_HW_CPU - 143
				MX6QDL_PAD_DISP0_DAT22__GPIO5_IO16 0x80000000  //DISP0_DAT22__GPIO5_IO16   V24   GO_NOGO_MSL_CPU - 144
				MX6QDL_PAD_DISP0_DAT23__GPIO5_IO17 0x80000000  //DISP0_DAT23__GPIO5_IO17   W24   GO_NOGO_UA_CPU - 145
			
				MX6QDL_PAD_ENET_CRS_DV__GPIO1_IO25 0x80000000 //ENET_CRS_DV__GPIO1_IO25  U21   FAILSAFE_ENABLE_CPU - 25
				MX6QDL_PAD_ENET_RX_ER__GPIO1_IO24 0x80000000  //ENET_RX_ER__GPIO1_IO24   W23   CK_BT2_CPU - 24
				MX6QDL_PAD_ENET_TX_EN__GPIO1_IO28 0x80000000  //ENET_TX_EN__GPIO1_IO28   V21   TB2_CPU - 28
				MX6QDL_PAD_ENET_RXD0__GPIO1_IO27 0x80000000   //ENET_RXD0__GPIO1_IO27    W21   OK_TIMER_CPU - 27
				MX6QDL_PAD_ENET_RXD1__GPIO1_IO26 0x80000000   //ENET_RXD1__GPIO1_IO26    W22   TELLBACKBT1_CPU - 26
				MX6QDL_PAD_ENET_TXD0__GPIO1_IO30 0x80000000   //ENET_TXD0__GPIO1_IO30    U20   FUS_BT1_CPU - 30
				MX6QDL_PAD_ENET_TXD1__GPIO1_IO29 0x80000000   //ENET_TXD1__GPIO1_IO29    W20   FUS_BT2_CPU - 29
			
				MX6QDL_PAD_KEY_COL0__GPIO4_IO06 0x80000000    //KEY_COL0__GPIO4_IO06     W5    GPIO4_IO06_UNUSED - 102
				MX6QDL_PAD_KEY_ROW0__GPIO4_IO07 0x80000000    //KEY_ROW0__GPIO4_IO07     V6    PB_SX_CPU - 103
				MX6QDL_PAD_KEY_COL1__GPIO4_IO08 0x80000000    //KEY_COL1__GPIO4_IO08     U7    PB_DX_CPU - 104
				MX6QDL_PAD_KEY_COL2__GPIO4_IO10 0x80000000    //KEY_COL2__GPIO4_IO10     W6    GO_SC_CPU - 106
				MX6QDL_PAD_KEY_ROW2__GPIO4_IO11 0x80000000    //KEY_ROW2__GPIO4_IO11     W4    FUS_SK_CPU - 107
				MX6QDL_PAD_KEY_COL3__GPIO4_IO12 0x80000000    //KEY_COL3__GPIO4_IO12     U5    SPARE1_ARTIX7 - 108
				MX6QDL_PAD_KEY_ROW3__GPIO4_IO13 0x80000000    //KEY_ROW3__GPIO4_IO13     T7    T0_MSL_CPU - 109
				MX6QDL_PAD_KEY_COL4__GPIO4_IO14 0x80000000    //KEY_COL4__GPIO4_IO14     T6    USB_OTG_OC - 110
			
				MX6QDL_PAD_GPIO_0__GPIO1_IO00 0x80000000      //GPIO_0__GPIO1_IO00     T5    MAINT_SEL_CPU - 0
				MX6QDL_PAD_GPIO_1__GPIO1_IO01 0x80000000      //GPIO_1__GPIO1_IO01     T4    USB_OTG_ID - 1
			
				MX6QDL_PAD_GPIO_16__GPIO7_IO11 0x80000000     //GPIO_16__GPIO7_IO11    R2    OK_TH_CPU - 203
				MX6QDL_PAD_GPIO_17__GPIO7_IO12 0x80000000     //GPIO_17__GPIO7_IO12    R1    GPIO7_12_UNUSED - 204
				MX6QDL_PAD_GPIO_18__GPIO7_IO13 0x80000000     //GPIO_18__GPIO7_IO13    P6    TELLBACKBT2_CPU - 205
			
				MX6QDL_PAD_NANDF_CS0__GPIO6_IO11 0x80000000   //NANDF_CS0__GPIO6_IO11  F15    STATO_D2_CPU - 171
				MX6QDL_PAD_NANDF_CS1__GPIO6_IO14 0x80000000   //NANDF_CS0__GPIO6_IO14  C16    TERMINATE_CMD_1_CPU - 174
				MX6QDL_PAD_NANDF_CS2__GPIO6_IO15 0x80000000   //NANDF_CS0__GPIO6_IO15  A17    TERMINATE_CMD_2_CPU - 175
				MX6QDL_PAD_NANDF_CS3__GPIO6_IO16 0x80000000   //NANDF_CS0__GPIO6_IO16  D16    STATO_D1_CPU - 176
				MX6QDL_PAD_NANDF_WP_B__GPIO6_IO09 0x80000000  //NANDF_WP_B__GPIO6_IO09  E15    CTR_TELLBACKBT2_CPU - 169
				MX6QDL_PAD_NANDF_RB0__GPIO6_IO10 0x80000000   //NANDF_RB0__GPIO6_IO10  B16    T0_CONN_CPU - 170
				
				//BOOT CFG
				MX6QDL_PAD_EIM_EB1__GPIO2_IO29 0x80000000 //BOOT_CFG_EIM_EB1
				MX6QDL_PAD_EIM_DA0__GPIO3_IO00 0x80000000 //BOOT_CFG_EIM_DA0
				MX6QDL_PAD_EIM_DA1__GPIO3_IO01 0x80000000 //BOOT_CFG_EIM_DA1
				MX6QDL_PAD_EIM_DA2__GPIO3_IO02 0x80000000 //BOOT_CFG_EIM_DA2
				MX6QDL_PAD_EIM_DA3__GPIO3_IO03 0x80000000 //BOOT_CFG_EIM_DA3
				MX6QDL_PAD_EIM_DA4__GPIO3_IO04 0x80000000 //BOOT_CFG_EIM_DA4
				MX6QDL_PAD_EIM_DA5__GPIO3_IO05 0x80000000 //BOOT_CFG_EIM_DA5
				MX6QDL_PAD_EIM_DA6__GPIO3_IO06 0x80000000 //BOOT_CFG_EIM_DA6
				MX6QDL_PAD_EIM_DA7__GPIO3_IO07 0x80000000 //BOOT_CFG_EIM_DA7
				MX6QDL_PAD_EIM_DA8__GPIO3_IO08 0x80000000 //BOOT_CFG_EIM_DA8
				MX6QDL_PAD_EIM_DA9__GPIO3_IO09 0x80000000 //BOOT_CFG_EIM_DA9
				MX6QDL_PAD_EIM_DA10__GPIO3_IO10 0x80000000 //BOOT_CFG_EIM_DA10
				MX6QDL_PAD_EIM_DA11__GPIO3_IO11 0x80000000 //BOOT_CFG_EIM_DA11
				MX6QDL_PAD_EIM_DA12__GPIO3_IO12 0x80000000 //BOOT_CFG_EIM_DA12
				MX6QDL_PAD_EIM_DA13__GPIO3_IO13 0x80000000 //BOOT_CFG_EIM_DA13
				MX6QDL_PAD_EIM_DA14__GPIO3_IO14 0x80000000 //BOOT_CFG_EIM_DA14
				MX6QDL_PAD_EIM_DA15__GPIO3_IO15 0x80000000 //BOOT_CFG_EIM_DA15
			>;
		};

		//pinctrl_audmux: audmuxgrp {
			//fsl,pins = <
				//MX6QDL_PAD_SD2_DAT0__AUD4_RXD		0x130b0
				//MX6QDL_PAD_SD2_DAT3__AUD4_TXC		0x130b0
				//MX6QDL_PAD_SD2_DAT2__AUD4_TXD		0x110b0
				//MX6QDL_PAD_SD2_DAT1__AUD4_TXFS		0x130b0
			//>;
		//};


		pinctrl_ecspi1_1: ecspi1grp-1 {
			 fsl,pins = <
				MX6QDL_PAD_EIM_D16__ECSPI1_SCLK 0x1b0b1
				MX6QDL_PAD_EIM_D17__ECSPI1_MISO 0x1b0b1
				MX6QDL_PAD_EIM_D18__ECSPI1_MOSI 0x1b0b1
				//MX6QDL_PAD_KEY_ROW1__GPIO4_IO09 0x1b0b1        
				>;
			};

		pinctrl_ecspi3_1: ecspi3grp-1 {
			fsl,pins = <
				MX6QDL_PAD_DISP0_DAT2__ECSPI3_MISO 0x1b0b1
				MX6QDL_PAD_DISP0_DAT1__ECSPI3_MOSI 0x1b0b1
				MX6QDL_PAD_DISP0_DAT0__ECSPI3_SCLK 0x1b0b1
				//MX6QDL_PAD_DISP0_DAT3__GPIO4_IO24 0x1b0b1
			>;
		};

		pinctrl_ecspi4_1: ecspi4grp-1 {
			fsl,pins = <
				MX6QDL_PAD_EIM_D22__ECSPI4_MISO 0x1b0b1
				MX6QDL_PAD_EIM_D28__ECSPI4_MOSI 0x1b0b1
				MX6QDL_PAD_EIM_D21__ECSPI4_SCLK 0x1b0b1
				//MX6QDL_PAD_EIM_D20__GPIO3_IO20 0x1b0b1
			>;
		};

		pinctrl_ecspi5_1: ecspi5grp-1 {
			fsl,pins = <
				MX6QDL_PAD_SD1_DAT0__ECSPI5_MISO 0x1b0b1
				MX6QDL_PAD_SD1_CMD__ECSPI5_MOSI 0x1b0b1
				MX6QDL_PAD_SD1_CLK__ECSPI5_SCLK 0x1b0b1
				//MX6QDL_PAD_SD1_DAT1__GPIO1_IO17 0x1b0b1
			>;
		};

		pinctrl_enet: enetgrp {
			fsl,pins = <
				MX6QDL_PAD_ENET_MDC__ENET_MDC         0x1b0b0
				MX6QDL_PAD_ENET_MDIO__ENET_MDIO       0x1b0b0
				MX6QDL_PAD_ENET_REF_CLK__ENET_TX_CLK  0x1b0b0
				//DD0
				//MX6QDL_PAD_ENET_CRS_DV__GPIO1_IO25 		0x80000000 /* RGMII_nRST*/
				//DD1
				MX6QDL_PAD_DISP0_DAT15__GPIO5_IO09 		0x80000000 /* RGMII_RST_PHY*/
				
				//DDO
                //MX6QDL_PAD_ENET_RXD1__GPIO1_IO26   		0x80000000 /* RGMII_INT */
                //DD1
                MX6QDL_PAD_NANDF_CLE__GPIO6_IO07   		0x80000000 /* RGMII_INT_PHY */
                
				MX6QDL_PAD_RGMII_TXC__RGMII_TXC       0x1b0b0
				MX6QDL_PAD_RGMII_TD0__RGMII_TD0       0x1b0b0
				MX6QDL_PAD_RGMII_TD1__RGMII_TD1       0x1b0b0
				MX6QDL_PAD_RGMII_TD2__RGMII_TD2       0x1b0b0
				MX6QDL_PAD_RGMII_TD3__RGMII_TD3       0x1b0b0
				MX6QDL_PAD_RGMII_TX_CTL__RGMII_TX_CTL 0x1b0b0
				
				MX6QDL_PAD_RGMII_RXC__RGMII_RXC       0x1b0b0
				MX6QDL_PAD_RGMII_RD0__RGMII_RD0       0x1b0b0
				MX6QDL_PAD_RGMII_RD1__RGMII_RD1       0x1b0b0
				MX6QDL_PAD_RGMII_RD2__RGMII_RD2       0x1b0b0
				MX6QDL_PAD_RGMII_RD3__RGMII_RD3       0x1b0b0
				MX6QDL_PAD_RGMII_RX_CTL__RGMII_RX_CTL 0x1b0b0
			>;
		};

		//pinctrl_gpio_keys: gpio_keysgrp {
			//fsl,pins = <
				/* Power Button */
				//MX6QDL_PAD_NANDF_D3__GPIO2_IO03		0x1b0b0
				/* Menu Button */
				//MX6QDL_PAD_NANDF_D1__GPIO2_IO01		0x1b0b0
				/* Home Button */
				//MX6QDL_PAD_NANDF_D4__GPIO2_IO04		0x1b0b0
				/* Back Button */
				//MX6QDL_PAD_NANDF_D2__GPIO2_IO02		0x1b0b0
				/* Volume Up Button */
				//MX6QDL_PAD_GPIO_18__GPIO7_IO13		0x1b0b0
				/* Volume Down Button */
				//MX6QDL_PAD_GPIO_19__GPIO4_IO05		0x1b0b0
			//>;
		//};

		//pinctrl_i2c1: i2c1grp {
			//fsl,pins = <
				//MX6QDL_PAD_EIM_D21__I2C1_SCL		0x4001b8b1
				//MX6QDL_PAD_EIM_D28__I2C1_SDA		0x4001b8b1
			//>;
		//};

		//pinctrl_i2c2: i2c2grp {
			//fsl,pins = <
				//MX6QDL_PAD_KEY_COL3__I2C2_SCL		0x4001b8b1
				//MX6QDL_PAD_KEY_ROW3__I2C2_SDA		0x4001b8b1
			//>;
		//};

		
		
		pinctrl_i2c3_1: i2c3grp-1 {
			fsl,pins = <
				MX6QDL_PAD_GPIO_3__I2C3_SCL 0x4001b8b1
				MX6QDL_PAD_GPIO_6__I2C3_SDA 0x4001b8b1
			>;
		};



		//pinctrl_pwm1: pwm1grp {
			//fsl,pins = <
				//MX6QDL_PAD_DISP0_DAT8__PWM1_OUT 0x1b0b1
			//>;
		//};

		//pinctrl_pwm3: pwm3grp {
			//fsl,pins = <
				//MX6QDL_PAD_SD1_DAT1__PWM3_OUT 0x1b0b1
			//>;
		//};

		//pinctrl_pwm4: pwm4grp {
			//fsl,pins = <
				//MX6QDL_PAD_SD1_CMD__PWM4_OUT 0x1b0b1
			//>;
		//};

		//pinctrl_uart1: uart1grp {
			//fsl,pins = <
				//MX6QDL_PAD_SD3_DAT7__UART1_TX_DATA	0x1b0b1
				//MX6QDL_PAD_SD3_DAT6__UART1_RX_DATA	0x1b0b1
			//>;
		//};

		//pinctrl_uart2: uart2grp {
			//fsl,pins = <
				//MX6QDL_PAD_EIM_D26__UART2_TX_DATA	0x1b0b1
				//MX6QDL_PAD_EIM_D27__UART2_RX_DATA	0x1b0b1
			//>;
		//};

		pinctrl_uart3: uart3grp {
			fsl,pins = <
				MX6QDL_PAD_EIM_D25__UART3_RX_DATA 0x1b0b1
				MX6QDL_PAD_EIM_D24__UART3_TX_DATA 0x1b0b1
			>;
		};

		//pinctrl_usbotg: usbotggrp {
			//fsl,pins = <
				//MX6QDL_PAD_GPIO_1__USB_OTG_ID		0x17059
				//MX6QDL_PAD_KEY_COL4__USB_OTG_OC	0x1b0b0
				/* power enable, high active */
				//MX6QDL_PAD_EIM_D22__GPIO3_IO22  0x000b0
			//>;
		//};

		pinctrl_usdhc3: usdhc3grp {
			fsl,pins = <
				MX6QDL_PAD_SD3_CMD__SD3_CMD		0x17059
				MX6QDL_PAD_SD3_CLK__SD3_CLK		0x10059
				MX6QDL_PAD_SD3_RST__SD3_RESET   0x17059
				MX6QDL_PAD_SD3_DAT0__SD3_DATA0	0x17059
				MX6QDL_PAD_SD3_DAT1__SD3_DATA1	0x17059
				MX6QDL_PAD_SD3_DAT2__SD3_DATA2	0x17059
				MX6QDL_PAD_SD3_DAT3__SD3_DATA3	0x17059
				MX6QDL_PAD_SD3_DAT4__SD3_DATA4  0x17059
				MX6QDL_PAD_SD3_DAT5__SD3_DATA5  0x17059
				MX6QDL_PAD_SD3_DAT6__SD3_DATA6  0x17059
				MX6QDL_PAD_SD3_DAT7__SD3_DATA7  0x17059
			>;
		};

		pinctrl_usdhc4: usdhc4grp {
			fsl,pins = <
				MX6QDL_PAD_SD4_CMD__SD4_CMD    0x17059
				MX6QDL_PAD_SD4_CLK__SD4_CLK    0x10059
				MX6QDL_PAD_NANDF_ALE__SD4_RESET 0x17059
				MX6QDL_PAD_SD4_DAT0__SD4_DATA0 0x17059
				MX6QDL_PAD_SD4_DAT1__SD4_DATA1 0x17059
				MX6QDL_PAD_SD4_DAT2__SD4_DATA2 0x17059
				MX6QDL_PAD_SD4_DAT3__SD4_DATA3 0x17059
				MX6QDL_PAD_SD4_DAT4__SD4_DATA4 0x17059
				MX6QDL_PAD_SD4_DAT5__SD4_DATA5 0x17059
				MX6QDL_PAD_SD4_DAT6__SD4_DATA6 0x17059
				MX6QDL_PAD_SD4_DAT7__SD4_DATA7 0x17059
			>;
		};
	};
};

//&ldb {
	//status = "okay";

	//lvds-channel@0 {
		//fsl,data-mapping = "spwg";
		//fsl,data-width = <18>;
		//status = "okay";

		//display-timings {
			//native-mode = <&timing0>;
			//timing0: hsd100pxn1 {
				//clock-frequency = <65000000>;
				//hactive = <1024>;
				//vactive = <768>;
				//hback-porch = <220>;
				//hfront-porch = <40>;
				//vback-porch = <21>;
				//vfront-porch = <7>;
				//hsync-len = <60>;
				//vsync-len = <10>;
			//};
		//};
	//};
//};

//&pcie {
	//status = "okay";
//};

//&pwm1 {
//	pinctrl-names = "default";
//	pinctrl-0 = <&pinctrl_pwm1>;
//	status = "okay";
//};

//&pwm3 {
	//pinctrl-names = "default";
	//pinctrl-0 = <&pinctrl_pwm3>;
	//status = "okay";
//};

//&pwm4 {
	//pinctrl-names = "default";
	//pinctrl-0 = <&pinctrl_pwm4>;
	//status = "okay";
//};

&ssi1 {
	status = "okay";
};

//&uart1 {
	//pinctrl-names = "default";
	//pinctrl-0 = <&pinctrl_uart1>;
	//status = "okay";
//};

//&uart2 {
	//pinctrl-names = "default";
	//pinctrl-0 = <&pinctrl_uart2>;
	//status = "okay";
//};
&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	status = "okay";
};

//&usbh1 {
	//status = "okay";
//};

//&usbotg {
	//vbus-supply = <&reg_usb_otg_vbus>;
	//pinctrl-names = "default";
	//pinctrl-0 = <&pinctrl_usbotg>;
	//disable-over-current;
	//srp-disable;
	//hnp-disable;
	//adp-disable;
	//status = "okay";
//};

&usdhc3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc3>;
	bus-width = <8>;
	non-removable;
	vmmc-supply = <&reg_3p3v>;
	status = "okay";
};

&usdhc4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc4>;
	bus-width = <8>;
	non-removable;
	vmmc-supply = <&reg_3p3v>;
	status = "okay";
};
